.side-bar-container {
    margin: 10px;
}

.side-bar-container .menu{
    width: 180px;
    height: 93%;
    z-index: 2000;
    margin-right: 0px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    float: left;
    display: none;
    animation: modal .3s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0)
    } to {
        opacity: 1;
        transform: translate3d(0, 0px, 0)
    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(10px, 0, 0)
    } to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0)
    }
}

@keyframes h3-effect {
    from {
        opacity: 0;
        transform: translate3d(-50px, 0, 0)
    } to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0)
    }
}

@keyframes ocult {
    from {
        opacity: 1;
        transform: translate3d(-30px, 0, 0)
    } to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0)
    }
}

.side-bar-container .menu.show {
    display: block;
    animation: show .7s;
}

.side-bar-container .menu-btn.show {
    width: 180px;
    animation: show .7s;
}

.side-bar-container .menu-btn h3{
    display: none;
}

.side-bar-container .menu-btn h3.show{
    display: block;
    animation: h3-effect .7s;
}

.side-bar-container .menu-btn{
    display: flex;
    align-items: center;
    z-index: 3000;
    border-radius: 5px;
    background: #fff;
    justify-content: center;
    width: 45px;
    line-height: 42px;
    height: 42px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    position: relative;
    animation: ocult .4s;
}

.side-bar-container .menu-btn img{
    float: left;
    left: 0px;
    position: absolute;
    margin-left: 12px;
    width: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.side-bar-container .menu-btn img:hover{
    filter: brightness(50%);
    height: 24px;
}

.side-bar-container .menu-btn h3{
    font-size: 15px;
    color: #555;
    width: 160px;
    text-align: center;
    font-weight: bold;
}

.side-bar-container ul {
    list-style: none;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

.side-bar-container ul li {
    width: 100%;
    padding: 10px 0 10px 15px ;
    cursor: pointer;
    transition: 0.2s;
}

.side-bar-container ul li:hover {
    filter: brightness(50%);
    background: rgb(0, 0, 0, 0.1);
}

/*implementar conforma a página*/
.side-bar-container ul li:nth-child(1) {
    color: #555;
}

/*Menu retraído*/


/*nav bar padrão*/

